<div id="main">
  <div id="one">
    <form action="" name="f1" class="form">
      <h2>My Phone Book</h2>
      <br>
      <input type="text" [(ngModel)]="searchName" name="searchName" class="form-control" id="search">
      <button type="button" class="btn btn-success" (click)="openModal(template)" id="green">Add Phone</button>
    </form>
  </div>
  <br>
  <table id="tab" class="table">
    <thead>
      <tr>
        <th [class.active]="order === 'id'" (click)="setOrder('id')">First name<span [hidden]="reverse">▼</span><span
            [hidden]="!reverse">▲</span></th>
        <th [class.active]="order === 'info.name'" (click)="setOrder('info.name')"
          class="mdl-data-table__cell--non-numeric">Last name<span [hidden]="reverse">▼</span><span
            [hidden]="!reverse">▲</span></th>
        <th [class.active]="order === 'info.number'" (click)="setOrder('info.number')">Number<span
            [hidden]="reverse">▼</span>
          <span [hidden]="!reverse">▲</span></th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody id="table">
      <tr *ngFor="let contact of contacts | search:searchName | orderBy: order:reverse:'case-insensitive'; let i=index">
        <!-- <td>{{task.id}}</td> -->
        <td>{{contact.contactName | titlecase }}</td>
        <td>{{contact.contactLastName}}</td>
        <td>{{contact.contactPhone}}</td>
        <td><input type="button" value="edit" (click)="edit(template, contact)" class="orange"></td>
        <td><input type="button" value="delete" (click)="delete(contact)" class="red"></td>
      </tr>
    </tbody>
  </table>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add Phone</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <br><br>
          <input type="text" class="form-control" [(ngModel)]="contactName" name="contactName" placeholder="Name here">
          <br>
          <input type="text" class="form-control" [(ngModel)]="contactLastName" name="contactLastName"
            placeholder="Last name here">
          <br>
          <input type="text" class="form-control" [(ngModel)]="contactPhone" name="contactPhone"
            placeholder="Phone number here">
          <br><br>
          <button type="button" class="btn btn-primary" (click)="addContact()">Save</button>
          <button type="button" class="btn btn-primary" (click)="saveEditContact()">SaveEdit</button>
        </div>
      </form>

    </div>
  </ng-template>

</div>